.user_cover {
    padding: 0px 40px;
    margin: 20px 0px;
}

.username {
    text-align: center;
    color: white;
    width: 100%;
    font-size: 12px;
    margin-top: 5px;
}

.user_thumbnail {
    width: 100px;
    height: 100px;
    display: table;
    text-align: center;
    margin: auto;
}

.user_thumbnail ons-icon {
    font-size: 70px;
    display: table-cell;
	vertical-align: middle;
}
	
.selected{
	background-color: yellow;
}

ons-icon{
	color: white;
}