#bg .page__background {
	background: #22c1c3;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to bottom, #43CBFF, #FFE985);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to bottom, #43CBFF, #FFE985);
}

#textclr{
	color: white;
	text-align:center;
}

#header {
	background: #22c1c3;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to bottom, #43CBFF, #FFE985);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to bottom, #43CBFF, #FFE985); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#text-bold{
	color: white;
	font-weight: bold;
	font-size:1em;
}

.header-view {
	width: 100%;
	height: 20%;
	text-align: center;
	display: table;
}

.headericon {
	vertical-align: middle !important;
	font-size: 100px;
	opacity: 1;
	display: table-cell;
}

#bg_index .page__background {
	background-color: white !important;
}

a{
	text-decoration: none;
}

.list-item__thumbnail{
	border-style: solid;
    border-width: 1px;
	border-color: #ddd;
}

.text-input--material {
	background-image: linear-gradient(to top,transparent 0px,rgba(0, 0, 0, 0) 0px);
}

.checked {
    color: orange;
}

.back-button--material__icon {
	fill: white;
}

#blueBtn {
	background: #25a6d9 !important;
}


.back-button__icon{
	fill:white;
}

.list-header {
	background-color:white;
	font-size: 1em;
	text-transform: none;
	margin-bottom:5%;
}